.outer-container {
	position: absolute;
	top: 10%;
	width: 100%;
}

.inner-container {
	width: 80%;
	margin: auto;
}

.btn-start-game {
	margin: auto;
	display: block !important;
}

.btn-cancel {
	margin: auto;
	display: block !important;
}

.game-starting {
	font-size: 2em;
	text-align: center;
}

.game-starting.observer {
	font-size: 8em;
	font-weight: bold;
}

.question {
	font-size: 1em;
	text-align: center;
}

.question.observer {
	font-size: 7em;
	font-weight: bold;
}

.btn-choice {
	margin: auto;
	width: 50%;
	margin-bottom: 0.5em !important;
}

.btn-choice.observer {
	padding: 10px;
	font-size: 6em;
	font-weight: bold;
	padding-bottom: 25px;
}

.waiting {
	font-size: 3em;
	text-align:center;
}

.loading-container {
	margin-top: 1em;
	text-align: center;
}

.loading {
	font-size: 2em !important;
}

.scores-header {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	padding-bottom: 8px;
}

.scores {
	list-style-type: none;
	border: 2px solid black;
	padding: 4px;
}

.score {
	border-bottom: 2px solid black;
	font-size: 2em;
	font-weight: bold;
	padding: 6px;
	overflow: auto;
}

.score:last-child {
	border: 0;
}

.players {
	list-style-type: none;
	border: 2px solid black;
	padding: 4px;
}

.player {
	border-bottom: 2px solid black;
	font-size: 4em;
	font-weight: bold;
}

.player:last-child {
	border: 0;
}

.question-number {
	position: absolute;
	right: 3%;
	font-size: 4em !important;
}

.question-number:not(.observer) {
	display: none;
}

.no-player {
	color: #666;
	font-weight: bold;
	font-size: 3em;
}

.result-authors {
	list-style-type: none;
	padding-top: 4em;
	padding-bottom: 6em;
}

.result-author, .result-choice, .result-chooser {
	font-weight: bold;
	font-size: 5em;
}

.result-choice {
	text-align: center;
}

.result-author {
	font-size: 6em;
	text-align: center;
}

.result-truth {
	color: #1B8F00;
	font-weight: bold;
	padding: 16px;
	border: 3px solid rgb(27, 143, 0);
	background-color: #CFFFCF;
}

.result-lie {
	color: rgb(180, 0, 0);
}

.result-chooser {
	font-size: 3em;
	text-align: center;
}